/* Variables */
:root {
  --primary-font: 'Roboto';
  --logo-font: 'Raleway', 'Geneva', 'Arial', sans-serif;

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #fff;
  --black-text-color: #000;

  --primary-bgr-color: #fff;
  --hero-bgr-color: #2f303a;
  --footer-bgr-color: #2f303a;
  --accent-bgr-color: #188ce8;
  --element-bgr-color: #f5f4fa;
  --icon-fill-color: #afb1b8;

  --accent-color: #2196f3;
  --border-color: #ececec;
  --item-border-color: #eeeeee;

  --btn-shadow-color: rgba(0, 0, 0, 0.15);
  --btn-shadow-color-param-1: rgba(0, 0, 0, 0.1);
  --btn-shadow-color-param-2: rgba(0, 0, 0, 0.08);
  --btn-shadow-color-param-3: rgba(0, 0, 0, 0.12);

  --card-shadow-color-param-1: rgba(0, 0, 0, 0.12);
  --card-shadow-color-param-2: rgba(0, 0, 0, 0.14);
  --card-shadow-color-param-3: rgba(0, 0, 0, 0.2);
  --card-shadow-color-param-4: rgba(0, 0, 0, 0.06);
  --card-shadow-color-param-5: rgba(0, 0, 0, 0.16);

  --modal-shadow-color-param-1: rgba(0, 0, 0, 0.12);
  --modal-shadow-color-param-2: rgba(0, 0, 0, 0.14);
  --modal-shadow-color-param-3: rgba(0, 0, 0, 0.2);

  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --icon-bgr-color: rgba(255, 255, 255, 0.1);
  --label-bgr-color: rgba(47, 48, 58, 0.8);
  --modal-bgr-color: rgba(0, 0, 0, 0.2);
  --modal-boder-color: rgba(0, 0, 0, 0.1);
  --item-overlay-color: rgba(33, 150, 243, 0.9);
  --primary-input-border-color: rgba(33, 33, 33, 0.2);
  --input-border-color: rgba(255, 255, 255, 0.3);
  --input-filer-color: rgba(0, 0, 0, 0.15);
  --placeholder-test-color: rgba(117, 117, 117, 0.5);

  --main-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* General */
body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--primary-bgr-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: inherit;
}

h2,
h3 {
  color: var(--title-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.btn {
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--btn-shadow-color);
  transition: background-color 250ms var(--main-transition-timing-function);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bgr-color);
}

.social-links-list {
  display: flex;
  justify-content: center;
}

.social-links-list a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;

  border-radius: 50%;
}

.social-links-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-links-list svg {
  fill: currentColor;
}

/* Header */
.page-header {
  background-color: var(--primary-bgr-color);
  border-bottom: 1px solid var(--border-color);
}

.page-header .container {
  display: flex;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.logo-dark-part {
  color: var(--black-text-color);
}

.logo-light-part {
  color: var(--white-text-color);
}

/* Navigation & Contact Information*/
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav-list {
  margin-left: 93px;
}

.header-list {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav-list-item > a {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--title-text-color);
}

.main-nav-list-item > .current {
  position: relative;
  color: var(--accent-color);
}

.main-nav-list-item > .current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-list {
  margin-left: auto;
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list-item > a {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;

  align-items: center;

  color: var(--primary-text-color);
}

.contacts-list-item svg {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--hero-bgr-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/team.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.hero-btn {
  padding-left: 32px;
  padding-right: 32px;
}

/* Features */
.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list-item {
  width: 270px;
}

.features-list-item-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list-item-descr {
  line-height: 1.71;
}

.features-list-item-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  background-color: var(--element-bgr-color);
}

/* .features-list-item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.antenna-svg::before {
  background-image: url('../images/antenna.svg');
}

.clock-svg::before {
  background-image: url('../images/clock.svg');
}

.diagram-svg::before {
  background-image: url('../images/diagram.svg');
}
.astronaut-svg::before {
  background-image: url('../images/astronaut.svg');
} */

/* Directions */
.directions {
  padding-top: 0;
}

.directions-list {
  display: flex;
  justify-content: space-between;
}

.directions-list-item-thumb {
  position: relative;
}

.directions-list-item-label {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-text-color);
  background: var(--label-bgr-color);
}

/* Team */
.team {
  background: var(--element-bgr-color);
}

.team-list {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-item {
  box-shadow: 0px 1px 3px var(--card-shadow-color-param-1),
    0px 1px 1px var(--card-shadow-color-param-2), 0px 2px 1px var(--card-shadow-color-param-3);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bgr-color);
}

.team-list-item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
}

.team-list-item-descr {
  margin-bottom: 16px;
}

.team-list-item-text a {
  color: var(--icon-fill-color);
  background-color: var(--primary-bgr-color);
  transition: background-color 250ms var(--main-transition-timing-function),
    color 250ms var(--main-transition-timing-function);
}

.team-list-item-text a:hover,
.team-list-item-text a:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* Clients */
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-item > a {
  width: 170px;
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: 1px solid var(--icon-fill-color);
  color: var(--icon-fill-color);
  transition: color 250ms var(--main-transition-timing-function);
}

.clients-list-item svg {
  fill: currentColor;
}

.clients-list-item > a:hover,
.clients-list-item > a:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Portfolio */
.portfolio-tabs-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-tabs-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-tabs-list-item > button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  min-width: 73px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  background-color: var(--element-bgr-color);
  color: var(--title-text-color);
  cursor: pointer;
  transition: color 250ms var(--main-transition-timing-function),
    background-color 250ms var(--main-transition-timing-function),
    box-shadow 250ms var(--main-transition-timing-function);
}

.portfolio-tabs-list-item > button:hover,
.portfolio-tabs-list-item > button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px var(--btn-shadow-color-param-1),
    0px 1px 2px var(--btn-shadow-color-param-2), 0px 2px 2px var(--btn-shadow-color-param-3);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-item-text {
  border-left: 1px solid var(--item-border-color);
  border-right: 1px solid var(--item-border-color);
  border-bottom: 1px solid var(--item-border-color);
  padding: 20px 24px;
}

.projects-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-list-item-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list-item-descr {
  font-size: 16px;
  line-height: 1.88;
}

.projects-list-item > a {
  display: block;
  color: inherit;
  transition: box-shadow 250ms var(--main-transition-timing-function);
}

.projects-list-item > a:hover,
.projects-list-item > a:focus {
  box-shadow: 0px 1px 1px var(--card-shadow-color-param-1),
    0px 4px 4px var(--card-shadow-color-param-4), 1px 4px 6px var(--card-shadow-color-param-5);
}

.projects-list-item-thumb {
  position: relative;
  overflow: hidden;
}

.projects-list-item-overlay {
  position: absolute;
  top: 100%;
  left: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-text-color);
  background: var(--item-overlay-color);

  transition: transform 250ms var(--main-transition-timing-function);
}

.projects-list-item:hover .projects-list-item-overlay {
  transform: translateY(-100%);
}

/* Footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--footer-bgr-color);
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address-info-list {
  line-height: 1.5;
}

.address-info-list-item > a {
  color: var(--contacts-text-color);
}

.address-info-list-item > .address {
  color: var(--white-text-color);
}

.address-info-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts {
  margin-right: 70px;
}

.footer-block-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.connect-links a {
  color: var(--white-text-color);
  background-color: var(--icon-bgr-color);
  transition: background-color 250ms var(--main-transition-timing-function);
}

.connect-links a:hover,
.connect-links a:focus {
  background-color: var(--accent-color);
}

.connect-links {
  margin-right: auto;
}

.subscription-form-elements {
  display: flex;
  justify-content: space-between;
}

.subscription-email {
  margin-right: 12px;
  padding: 15px 0px 15px 16px;

  min-width: 358px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;

  color: var(--contacts-text-color);
  background-color: transparent;
  border: 1px solid var(--input-border-color);
  filter: drop-shadow(0px 4px 4px var(--input-filer-color));
  border-radius: 4px;
}

.subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription-btn .send {
  margin-left: 10px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 1;
  background: var(--modal-bgr-color);

  transition: opacity 250ms var(--main-transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .service-order-modal {
  transform: translate(-50%, -50%) scale(0);
}

.service-order-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  min-width: 528px;

  background: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px var(--modal-shadow-color-param-1),
    0px 1px 1px var(--modal-shadow-color-param-2), 0px 2px 1px var(--modal-shadow-color-param-3);
  border-radius: 4px;

  transition: transform 250ms var(--main-transition-timing-function);
}

.service-order-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.service-order-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  border-radius: 50%;

  border: 1px solid transparent;
  background: var(--primary-bgr-color);
  transition: color 250ms var(--main-transition-timing-function);
  cursor: pointer;
}

.service-order-close-btn:hover,
.service-order-close-btn:focus {
  color: var(--accent-color);
  border: 1px solid var(--modal-boder-color);
}

.service-order-close-btn > svg {
  fill: currentColor;
}

.service-order-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.service-order-field.text-field > label,
.service-order-field.textarea-field > label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
}

.service-order-field.text-field input,
.service-order-comment {
  width: 100%;

  border: 1px solid var(--primary-input-border-color);
  border-radius: 4px;
  transition: outline-color 250ms var(--main-transition-timing-function);
}

.service-order-field.text-field input {
  padding: 12px 0 12px 42px;
}

.service-order-comment {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;

  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.service-order-field.text-field,
.service-order-field.textarea-field {
  margin-bottom: 10px;
}

.service-order-field.textarea-field {
  margin-bottom: 20px;
}

.service-order-comment::placeholder {
  color: var(--placeholder-test-color);
}

.service-order-field.checkbox-field {
  margin-bottom: 30px;
}

.service-order-policy-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 7px;

  border-radius: 2px;
  border: 2px solid var(--title-text-color);
}

.service-order-policy-icon > svg {
  padding: 4px 2px 3px 3px;
  visibility: hidden;
}

.service-order-policy:checked + .service-order-policy-icon > svg {
  visibility: visible;
}

.service-order-policy:checked + .service-order-policy-icon {
  border: none;
  background-color: var(--accent-color);
}

.service-order-field.checkbox-field a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.service-order-field.checkbox-field > label,
.service-order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-order-field-wrap {
  margin-top: 4px;

  display: flex;
  align-items: center;
  position: relative;
}

.service-order-field-wrap > svg {
  position: absolute;
  top: 50%;
  left: 21px;

  transform: translate(-50%, -50%);
  transition: fill 250ms var(--main-transition-timing-function);
}

.service-order-field.text-field input:focus,
.service-order-comment {
  outline-color: var(--accent-color);
}

.service-order-field.text-field input:focus + svg {
  fill: var(--accent-color);
}

/* General */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  transition: color 250ms var(--main-transition-timing-function);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
